<ReSizable
  class="alert alert-secondary"
  @width={{this.width}}
  @height={{this.height}}
  @minWidth={{this.minWidth}}
  @minHeight={{this.minHeight}}
  @maxWidth={{this.maxWidth}}
  @maxHeight={{this.maxHeight}}
  @lockAspectRatio={{this.lockAspectRatio}}
  @grid={{this.grid}}
  @directions={{this.directions}}
  @onResize={{this.onResize}}
>
  <h1>Resize me</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. …
  </p>
</ReSizable>
