<ReSizable
  class="alert alert-secondary"
  @width={{width}}
  @height={{height}}
  @minWidth={{minWidth}}
  @minHeight={{minHeight}}
  @maxWidth={{maxWidth}}
  @maxHeight={{maxHeight}}
  @lockAspectRatio={{lockAspectRatio}}
  @grid={{grid}}
  @directions={{directions}}
  @onResize={{action "onResize"}}
>
  <h1>Resize me</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. …
  </p>
</ReSizable>
