{{page-title "Dummy"}}

<section class="center-box">
  <h2 id="title"><a href="https://github.com/evocount/ember-resizable">Ember-resizable</a> Demo</h2>

  <BsForm @model={{this}} @formLayout="horizontal" as |Form|>
    <Form.element @property="width" @label="Width" />
    <Form.element @property="height" @label="Height" />

    <Form.element @property="minWidth" @label="Minimum Width" @controlType="number" />
    <Form.element @property="minHeight" @label="Minimum Height" @controlType="number" />
    <Form.element @property="maxWidth" @label="Maximum Width" @controlType="number" />
    <Form.element @property="maxHeight" @label="Maximum Height" @controlType="number" />

    <Form.element @property="lockAspectRatio" @label="Lock aspect ratio" @controlType="checkbox" />

    <Form.element @property="grid.0" @label="Grid (snapping for x-axis)" @controlType="number" />
    <Form.element @property="grid.1" @label="Grid (snapping for y-axis)" @controlType="number" />

    <Form.element @property="directions" @label="Directions" as |el|>
      <PowerSelectMultiple
        @options={{this.availableDirections}}
        @selected={{el.value}}
        @onChange={{el.setValue}}
        as |item|
      >
        {{item}}
      </PowerSelectMultiple>
    </Form.element>
  </BsForm>

  <BsTab as |Tab|>
    <Tab.pane @title="Result">
      <ReSizable
        class="alert alert-secondary"
        @width={{this.width}}
        @height={{this.height}}
        @minWidth={{this.minWidth}}
        @minHeight={{this.minHeight}}
        @maxWidth={{this.maxWidth}}
        @maxHeight={{this.maxHeight}}
        @lockAspectRatio={{this.lockAspectRatio}}
        @grid={{this.grid}}
        @directions={{this.directions}}
        @onResize={{this.onResize}}
      >
        <h1>Resize me</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. …
        </p>
      </ReSizable>
    </Tab.pane>
    <Tab.pane @title="Template">
      {{#let (get-code-snippet "resizable.hbs") as |snippet|}}
        <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
      {{/let}}
    </Tab.pane>
    <Tab.pane @title="Code">
      {{#let (get-code-snippet "resizable-dummy.js") as |snippet|}}
        <CodeBlock @code={{snippet.source}} @language={{snippet.language}} />
      {{/let}}
    </Tab.pane>
  </BsTab>
</section>

{{outlet}}
