<section class="center-box">
  <h2 id="title"><a href="https://github.com/evocount/ember-resizable">Ember-resizable</a> Demo</h2>

  <BsForm @model={{this}} @formLayout="horizontal" as |Form|>
    <Form.element @property="width" @label="Width" />
    <Form.element @property="height" @label="Height" />

    <Form.element @property="minWidth" @label="Minimum Width" @controlType="number" />
    <Form.element @property="minHeight" @label="Minimum Height" @controlType="number" />
    <Form.element @property="maxWidth" @label="Maximum Width" @controlType="number" />
    <Form.element @property="maxHeight" @label="Maximum Height" @controlType="number" />

    <Form.element @property="lockAspectRatio" @label="Lock aspect ratio" @controlType="checkbox" />

    <Form.element @property="grid.0" @label="Grid (snapping for x-axis)" @controlType="number" />
    <Form.element @property="grid.1" @label="Grid (snapping for y-axis)" @controlType="number" />

    <Form.element @property="directions" @label="Directions" as |el|>
      <PowerSelectMultiple
        @options={{availableDirections}}
        @selected={{el.value}}
        @onchange={{action (mut el.value)}} as |item|
      >
        {{item}}
      </PowerSelectMultiple>
    </Form.element>
  </BsForm>

  <BsTab as |Tab|>
    <Tab.pane @title="Result">
      <ReSizable
        class="alert alert-secondary"
        style={{resizableStyle}}
        @minWidth={{minWidth}}
        @minHeight={{minHeight}}
        @maxWidth={{maxWidth}}
        @maxHeight={{maxHeight}}
        @lockAspectRatio={{lockAspectRatio}}
        @grid={{grid}}
        @directions={{directions}}
        @onResize={{action "onResize"}}
      >
        <h1>Resize me</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. …
        </p>
      </ReSizable>
    </Tab.pane>
    <Tab.pane @title="Template">
      <CodeSnippet @name="resizable.hbs" />
    </Tab.pane>
    <Tab.pane @title="Code">
      <CodeSnippet @name="resizable.js" />
    </Tab.pane>
  </BsTab>
</section>

{{outlet}}
